.ipynb_checkpoints/
.DS_Store
*~
\#*#
.#*
.juliahistory
stimuli/*.wav
*.swp
data/*
data
Config.toml
.tags
.undo
presentation/pitch
presentation/paper/*.png
presentation/paper/*.pdf
~$*
juliadev
.Rhistory
tags
